<div class="col-md-6 col-md-offset-3" ng-init="getemployeeDetail()" >
{{employee}}
    <h2>{{isEdit ? 'Edit' : 'Add'}} Employee {{isEdit ? name :''}} </h2>
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <form name="editform" ng-submit="isEdit ? updateEmployee() : addEmployee()" role="form">
        <div class="form-group" ng-class="{ 'error': editform.emp_name.$dirty && editform.emp_name.$error.required }">
            <label for="emp_name">Employee Name</label>
            <input type="text" name="emp_name" id="emp_name" class="form-control" ng-model="employee.emp_name" required />
            <span ng-show="editform.emp_name.$dirty && editform.emp_name.$error.required" class="help-block">Employee name is required</span>
        </div>
        
        <div class="form-group" ng-class="{ 'error': editform.email_id.$dirty && editform.email_id.$error.required }">
            <label for="email_id">Email ID</label>
            <input type="email" name="email_id" id="email_id" class="form-control" ng-model="employee.email_id" required  />
            <span ng-show="editform.email_id.$dirty && editform.name.$error.required  && editform.email_id.$error.email" class="help-block">Email ID is required</span>
        </div>
        <div class="form-group" ng-class="{ 'error': editform.date_of_joining.$dirty && editform.date_of_joining.$error.required }">
            <label for="date_of_joining">Date of Joining</label>
            <input type="date" name="date_of_joining" id="date_of_joining" class="form-control" ng-model="employee.date_of_joining"  value="{{employee.date_of_joining | date:'yyyy-MM-dd'}}" required/>
            <span ng-show="editform.date_of_joining.$dirty && editform.date_of_joining.$error.required" class="help-block">Date of Joining is required</span>
        </div>
        <div class="form-group" ng-class="{ 'error': editform.date_of_birth.$dirty && editform.date_of_birth.$error.required }">
            <label for="date_of_birth">Date of Birth</label>
            <input type="date" name="date_of_birth" id="date_of_birth" class="form-control" ng-model="employee.date_of_birth" value="{{employee.date_of_birth | date:'yyyy-MM-dd'}}" required />
            <span ng-show="editform.date_of_birth.$dirty && editform.date_of_birth.$error.required" class="help-block">Date of Birth is required</span>
        </div>
        
       <!--   <div class="form-group" ng-class="{ 'error': editform.age.$dirty && editform.age.$error.required }">
            <label for="age">Age</label>
            <input type="number"  maxlength="3" name="age" id="age" class="form-control" ng-model="employee.age" required />
            <span ng-show="editform.age.$dirty && editform.age.$error.required && editform.age.$error.number" class="help-block">Age is required</span>
        </div> -->
         

        <div class="form-actions">
            <button type="submit" ng-disabled="editform.$invalid" ng-show="!inProcess" class="btn btn-primary">{{isEdit ? 'Update' : 'Add'}} </button>
            <button ng-show="inProcess" class="btn btn-primary" ng-disabled >Saving</button>
          <!--   <employee-save employee="{{employee}}" isDisable="editform.$invalid"></employee-save> -->
        </div>
    </form>
</div>