
<table class="table table-striped" style="width:80%"><div style="width:80%;margin:20px" ng-init="employeeList();">
<h2>Welcome </h2>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
</div>
<div style="width:80%;margin:20px">
	<h3>Employees List</h3>
	  <div class="row" align="left">             
         <a ng-href="#/employee/addEmployee" class="btn btn-primary" > Add Employee </a>
       </div>
       <BR/>
	 		<div class="row">             
                    <div class="custom-select">   
                    	<label >SORT :</label>                
                        <select name="sortOption" id="sortOption" ng-model="sortOption" ng-change="sortEmployees()">
                       		<option value="">Select</option>
                        	<option value="emp_id">Employee ID</option>
		                    <option value="emp_name">Employee Name</option>
							<option value="email_id">Email ID</option>
                        </select>   
                    </br>
                         <label >SEARCH BY:</label>                
                        <select name="searchOption" id="searchOption" ng-model="searchOption" >
                        	<option value="">Select</option>
                        	<option value="id">Employee ID</option>
		                    <option value="emp_name">Employee Name</option>
							<option value="email_id">Email ID</option>
                        </select> 

                         <label >SEARCH VALUE :</label>  
                         <input type="text" name="searchValue" id="searchValue" placeholder="Search Value"/> 
                         <input type="button" value="Filter" ng-click="filterEmp()"/>
                         </br>
                         <label >SEARCH RANGE :</label>  
                         <select name="searchOption" id="filterOption" >
                        	<option value="">Select</option>
		                    <option value="date_of_birth">Date of Birth</option>
							<option value="date_of_joining">Date of Joining</option>
                        </select>
                         <input type="date" name="fromDate" id="fromDate" placeholder="from date"/> 
                         <input type="date" name="toDate" id="toDate" placeholder="to date"/> 
                         <input type="button" value="Filter By Range" ng-click="filterByRangeEmp()"/>
                                        
                	</div>

            </div>
           
		<table class="table table-striped" style="width:80%">
		    <thead>
		    	<!-- Emp Id, Name, Email Id, Date of Join, Date of Birth, Experience in Years -->
			    <tr><th>S.L No.</th>
			    	<th ng-click="sortEmployees('id')">Emp ID</th>
			        <th ng-click="sortEmployees('emp_name')">Name</th>
					<th ng-click="sortEmployees('email_id')">Email ID</th>
					<th>Date of Joining</th>
					<th>Date of Birth</th>
					<th>Experience(in yrs)</th>
					<th>Action</th>
				 </tr>
			 </thead>
		    <tbody>
		      	<tr  ng-repeat="employee in employees"  ng-class="{true: 'red', false: 'green'}[employee.isDelete]" class="employee-list" employee-select  >
		       <td>{{$index+1}}</td>    
					<td>{{employee.id}}</td>
					<td class="bg-green-none">{{employee.emp_name}}</td>
					<td class="bg-green-none">{{employee.email_id}}</td>
					<td class="bg-green-none">{{employee.date_of_joining | date:'dd-MM-yyyy'}}</td>
					<td class="bg-green-none">{{employee.date_of_birth | date:'dd-MM-yyyy'}}</td>
					<td class="bg-green-none">{{employee.total_experience}}</td> 
					
					<td>
						<!--<employee-delete username="{{employee.username}}"></employee-delete>-->
						<a ng-click="editEmployeeRedirect(employee.email_id)" ng-if="employee.email_id" class="	glyphicon glyphicon-pencil"> </a>&nbsp;&nbsp;
						<a ng-click="deleteEmployee(employee.email_id,employee.id)" ng-if="employee.email_id" class="glyphicon glyphicon-trash"> </a>
					</td>
				</tr>
				<!-- <tr width="100%"><td colspan="7">Using ng-grid</td></tr>
				<tr width="100%"><td colspan="7"> <div class="gridStyle" ng-grid="gridOptions"></div></td></tr> -->
			</tbody>
			
		</table>

		
</div>
</table>